<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task1</title>
    
</head>
<body>
    <div class="container"><mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jenna Winget</mat-card-title>
          
          <mat-card-subtitle class="subtitle" >Japan</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imageUrl" alt="lotus">
        <mat-card-content>
          <p class="paragraph">
            {{ para }}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button  color="warn" class="ml" (click)="onLike()" >
                <mat-icon>favorite</mat-icon></button>
                
                <p *ngIf = "numOfLikes" >{{ numOfLikes }}</p>
            <button mat-icon-button color="blue" class="mr" (click)="onShare()">
                <mat-icon>share </mat-icon></button> 
                <p *ngIf = "numOfShares">  {{ numOfShares }}</p>
        </mat-card-actions>
      </mat-card>
      
    </div>
    
    
</body>
</html>
 -->


<mat-card class="card" *ngFor="let cardTitle of titles">
  <mat-card-header>
    <mat-card-title>{{cardTitle}}</mat-card-title> 

    <mat-card-title>{{cardTitle | uppercase | reverse }}</mat-card-title>

   </mat-card-header>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" matInput #inputTitle>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddCard(inputTitle.value)">Add Card</button>
  <button mat-raised-button color="warn" (click)="onDeleteCard(cardTitle)">Delete Card</button>

</mat-card> 



<!-- Header Component -->
<!-- <div class="card-container">
  <mat-card class="card" *ngFor="let card of cards">
    <mat-card-header>
      <mat-card-title>{{ card.name }}</mat-card-title>
      <mat-card-subtitle>{{ card.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="card.imageUrl" alt="card">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->
