// .container{
//     padding-top: 50px;
//     padding-left: 800px;
// }

// .subtitle{
//     color: black;
// }

// .ml{
//     margin-bottom: 30px;
//     block-size: 30px;


// }

// .paragraph{
// text-align: justify;
// margin-top: 20px;
// }

// .mr{
    
//     margin-bottom: 30px;
//     block-size: 30px;

// }
// .example-card {
//     max-width: 300px;

//     background-color: whitesmoke;
//     }

// .card{
//     background-color: pink;
//     width: 20%;
//     margin-bottom: 20px;
// }
  
//   .example-header-image {
//     background-image: url('https://th.bing.com/th/id/OIP.SqaPbT5X88kRMLryv7Hf4gHaEM?w=302&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
//     background-size: cover;
    
//   }


// header comp card.component.scss
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    max-width: 400px;
    margin: 5px;
}